<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Resume</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="resume-wrapper">
      <div class="top-section">
        <div class="profile-info">
          <h2 class="name">Chukwudi Eze</h2>
          <h5 class="occupation">Software Engineer</h5>
          <p class="summary">
            A full-stack developer skilled in developing fast, responsive and
            scalable solutions that solves real-world problems, building
            functional and interactive experiences from design concepts to
            completion.
          </p>
        </div>
        <div class="profile-img">
          <img src="images/profile.jpg" />
        </div>
      </div>
      <div class="middle-section">
        <div class="email">
          <a href="mailto:Chukwudieze97@gmail.com">
            <i class="fa fa-envelope"></i>
            Chukwudieze97@gmail.com
          </a>
        </div>
        <div class="phone">
          <a href="tel:+2349090623756">
            <i class="fa fa-mobile"></i>
            09090623756
          </a>
        </div>
        <div class="address">
          <a href="#">
            <i class="fa fa-map-marker"></i>
            <span style="word-spacing: normal"> Lagos, Nigeria </span>
          </a>
        </div>
      </div>
      <div class="row bottom-section">
        <div class="col-md-6">
          <div class="section">
            <h3 class="title">WORK EXPERIENCE</h3>
            <div class="body">
              <div class="job">
                <h5 class="job-title">Frontend Software Engineer</h5>
                <p class="company">Clinify EMR</p>
                <div class="timezone">
                  <p class="period">03/2021 - 08/2021</p>
                  <p class="location">Lagos, Nigeria</p>
                </div>
                <div class="tasks">
                  <p class="task-title">Achievements/Tasks</p>
                  <ul>
                    <li>
                      Built the registration pages for both patients and
                      organization
                    </li>
                    <li>Built the frontend dashboard for hospital admins</li>
                    <li>Co-built the clinify blog and official websites</li>
                    <li>
                      Built static pages for store, pharmacy and nurses
                      dashboard
                    </li>
                    <li>
                      Wrote documentation as regards the clinify helpdesk
                      software
                    </li>
                  </ul>
                </div>
              </div>
              <div class="job">
                <h5 class="job-title">Frontend Developer</h5>
                <p class="company">SDG Cohort 2, Andela</p>
                <div class="timezone">
                  <p class="period">08/2020 - 10/2020</p>
                  <p class="location">Remote</p>
                </div>
                <div class="tasks">
                  <p class="task-title">Achievements/Tasks</p>
                  <ul>
                    <li>
                      Worked with a team to build a customer relationship and
                      assets management web application called EasyCRM
                    </li>
                    <li>Built the EasyCRM landing page.</li>
                  </ul>
                </div>
              </div>
              <div class="job">
                <h5 class="job-title">Blogger/content writer</h5>
                <p class="company">TheNaijaGuide</p>
                <div class="timezone">
                  <p class="period">08/2018 - 03/2020</p>
                  <p class="location">lagos, Nigeria</p>
                </div>
                <div class="tasks">
                  <p class="task-title">Achievements/Tasks</p>
                  <ul>
                    <li>
                      Managed the blog as well as its social media accounts
                    </li>
                    <li>
                      Wrote SEO friendly contents that ranked well on Google's
                      first page
                    </li>
                  </ul>
                </div>
              </div>
              <div class="job">
                <h5 class="job-title">IT intern</h5>
                <p class="company">
                  Consumer Vibes Information Technology, Nigeria
                </p>
                <div class="timezone">
                  <p class="period">07/2019 - 12/2019</p>
                  <p class="location">lagos, Nigera</p>
                </div>
                <div class="tasks">
                  <p class="task-title">Achievements/Tasks</p>
                  <ul>
                    <li>
                      Built front-end website using HTML, CSS, bootstrap,
                      vanilla JavaScript and basic react.js.
                    </li>
                    <li>
                      Build projects like weather application and expense
                      tracker application
                    </li>
                    <li>
                      Taught aspiring developers the basics of web development
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="section">
            <h3 class="title">EDUCATION</h3>
            <div class="body">
              <div class="level">
                <h5 class="course">
                  Agricultural and Bio-resources Engineering
                </h5>
                <p class="school">University of Nigeria Nsukka</p>
                <p class="timezone">11/2015 - 08/2021</p>
              </div>
              <div class="level">
                <h5 class="course">
                  Mobile web specialist in Software Development
                </h5>
                <p class="school">Google Africa Developer Scholarship</p>
                <p class="timezone">06/2020 - 08/2020</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="section">
            <h3 class="title">SKILLS</h3>
            <div class="body">
              <div class="skill">
                Frontend Development – Javscript, HTML5, CSS3, ReactJs,
                Typescript, Styled-Components, Sass, Apollo Client, Redux
              </div>
              <div class="skill">
                Backend Development – NodeJs, ExpressJs, NestJs
              </div>
              <div class="skill">
                Database – MongoDB, Firebase-Firestore, PostgreSQL
              </div>
              <div class="skill">Testing – Jest, React Testing Library</div>
              <div class="skill">
                Other Technologies – Git, Heroku, Netlify, Cloudinary, Github
              </div>
            </div>
          </div>
          <br />
          <div class="section">
            <h3 class="title">INTEREST</h3>
            <div class="body">
              <div class="interest">Software&nbsp;Development</div>
              <div class="interest">Blockchain&nbsp;Technology</div>
              <div class="interest">Machine&nbsp;Learning</div>
              <div class="interest">DevOps</div>
              <div class="interest">AR&nbsp;and&nbsp;VR</div>
              <div class="interest">Artificial&nbsp;Intelligence</div>
            </div>
          </div>
          <br />
          <div class="section">
            <h3 class="title">CONTACT ME</h3>
            <div>
              <% if(message.length > 0) { %>
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                  <strong><span><%= message %></span></strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <% } %>
            </div>
            <div class="body">
              <form action="/contact-form" method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    name="from"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                  <small id="emailHelp" class="form-text text-muted"
                    >I will never share your email with anyone else.</small
                  >
                </div>
                <div class="form-group">
                  <label for="subject">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Enter subject"
                  />
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea
                    class="form-control"
                    id="message"
                    rows="3"
                    name="text"
                    placeholder="Send me a message..."
                  ></textarea>
                </div>
                <button
                  class="btn"
                  type="submit"
                  style="background-color: #449399; color: #fff;"
                >
                  Send Message
                </button>
              </form>
            </div>
          </div> <br>
          <div class="section">
            <h5 class="title">SPONSORS</h5>
            <div class="row body">
              <div class="col-4">
                <div class="sponsor-img">
                  <a href="http://hng.tech">
                    <img src="images/hng.jpg" alt="hng">
                  </a>
                </div>
              </div>
              <div class="col-4">
                <div class="sponsor-img">
                  <a href="http://zuri.team">
                    <img src="images/zuri.png" alt="zuri">
                  </a>
                </div>
              </div>
              <div class="col-4">
                <div class="sponsor-img">
                  <a href="http://ingressive.org">
                    <img src="images/i4g.jpg" alt="i4g">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="" async defer></script>
  </body>
</html>
